#ifndef _CROSSPL_CrossPLFactory_HPP_
#define _CROSSPL_CrossPLFactory_HPP_

#import <Foundation/Foundation.h>

%IncludeProxyHeader%

#ifdef __cplusplus
extern "C" {
#endif

bool crosspl_Factory_OnLoad();

#ifdef __cplusplus
} // extern "C"
#endif

#endif /* _CROSSPL_CrossPLFactory_HPP_ */
