#ifndef _CROSSPL_CrossPLFactory_HPP_
#define _CROSSPL_CrossPLFactory_HPP_

#import <Foundation/Foundation.h>

%IncludeProxyHeader%

@interface CrossPLFactory : NSObject
+ (bool)onLoad;

int64_t createCppObject(const char* swiftClassName);
int destroyCppObject(const char* swiftClassName, int64_t cppHandle);

@end

#endif /* _CROSSPL_CrossPLFactory_HPP_ */
