#ifndef _CROSSPL_PROXY_%ClassName%_HPP_
#define _CROSSPL_PROXY_%ClassName%_HPP_

#import <Foundation/Foundation.h>

@interface %ClassName%Proxy : NSObject
//+ (int)registerNativeMethods;

%PlatformFunction%

%NativeFunction%


@end

#endif /* _CROSSPL_PROXY_%ClassName%_HPP_ */
