#import <Foundation/Foundation.h>
#import "CrossPLUtils.h"

#import "%ClassName%.proxy.h"

//#import "%ProductName%-Swift.h"
#import "%ClassName%.hpp"
@class %ClassName%;

%PlatformFunction%

%NativeFunction%
