#ifndef _crosspl_CrossPL_HPP_
#define _crosspl_CrossPL_HPP_

#include <jni.h>

namespace crosspl {

class CrossPL {
public:
  /*** type define ***/

  /*** static function and variable ***/
  static int OnLoad(JNIEnv* jenv);

  /*** class function and variable ***/

private:
  /*** type define ***/

  /*** static function and variable ***/

  /*** class function and variable ***/

}; // class CrossPL
} // namespace crosspl

#endif /* _CROSSPL_crosspl_CrossPL_HPP_ */
