#include "%ClassName%Proxy.hpp"

#include <%ClassName%.hpp>

namespace %Namespace% {
/***********************************************/
/***** static variables initialize *************/
/***********************************************/


/***********************************************/
/***** static function implement ***************/
/***********************************************/
%StaticFunction%

%NativeFunction%

/***********************************************/
/***** class public function implement  ********/
/***********************************************/
%MemberFunction%

/***********************************************/
/***** class protected function implement  *****/
/***********************************************/


/***********************************************/
/***** class private function implement  *******/
/***********************************************/


} // namespace %Namespace%
