#include "CrossPL.hpp"

%IncludeProxyHpp%

namespace crosspl {
/***********************************************/
/***** static variables initialize *************/
/***********************************************/


/***********************************************/
/***** static function implement ***************/
/***********************************************/
int CrossPL::OnLoad(JNIEnv* jenv)
{
  int ret = 0;

%RegisterNativeMethods%

  return (ret == 0? 0 : -1);
}

/***********************************************/
/***** class public function implement  ********/
/***********************************************/

/***********************************************/
/***** class protected function implement  *****/
/***********************************************/


/***********************************************/
/***** class private function implement  *******/
/***********************************************/


} // namespace crosspl
