#ifndef _CROSSPL_CrossPL_HPP_
#define _CROSSPL_CrossPL_HPP_

#include <jni.h>

#include <experimental-span.hpp>

namespace crosspl {

class CrossPL {
public:
  /*** type define ***/

  /*** static function and variable ***/
  static int OnLoad(JNIEnv* jenv);

  /*** class function and variable ***/

private:
  /*** type define ***/

  /*** static function and variable ***/

  /*** class function and variable ***/

}; // class CrossPL
} // namespace crosspl

#endif /* _CROSSPL_CrossPL_HPP_ */
