#ifndef _crosspl_%ClassName%_HPP_
#define _crosspl_%ClassName%_HPP_

#include <jni.h>

namespace std {
class string;
class vector;
}

namespace crosspl {
class CrossBase;
}

namespace crosspl {

class %ClassName%Proxy {
public:
  /*** type define ***/

  /*** static function and variable ***/
  static int RegisterNativeMethods(JNIEnv* jenv);
%PlatformFunction%

  /*** class function and variable ***/

private:
  /*** type define ***/

  /*** static function and variable ***/
%NativeFunction%

  /*** class function and variable ***/

}; // class %ClassName%
} // namespace crosspl

#endif /* _CROSSPL_crosspl_%ClassName%_HPP_ */
